.footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;

  color: #1a1a1a;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  z-index: 10;
}
