#root {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 585px !important;
  min-height: 780px !important;
  -webkit-font-smoothing: antialiased;

  /* https://css-tricks.com/snippets/css/system-font-stack/ */
  font-family:
    NanumBarunGothic,
    system-ui,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
}

a,
button {
  color: #1A1A1A;
}
