@use "/src/utils/scss/media" as media;
/* stylelint-disable scss/at-import-no-partial-leading-underscore */

#root {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 1484px;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;

  /* https://css-tricks.com/snippets/css/system-font-stack/ */
  font-family:
    NanumBarunGothic,
    system-ui,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";

  @include media.mobile {
    min-width: 360px;
  }

  @include media.tablet {
    min-width: 768px;
  }
}

a,
button {
  color: #1A1A1A;
}
